<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- <div class="navbar">
    <img class="logo" style="margin-right: 40px;" src="../assets/UIS_BIG.png" alt="Logo">
    <a href="#">Home</a>
    <a href="#">About</a>
    <div class="dropdown">
        <button class="dropbtn">Tools<span class="dropdown-symbol"></span></button>
        <div class="dropdown-content">
            <table>
                <tr>
                    <th>Finacial</th>
                    <th>Test</th>new
                </tr>
                <tr>
                    <td><a href="">TTS</a></td>
                    <td><a routerLink="/aes">AES</a></td>
                </tr>
                <tr>
                    <td><a href="#">Test</a></td>
                    <td><a href="#">Test</a></td>
                </tr>
                <tr>
                    <td><a href="#">Test</a></td>
                    <td><a href="#">Test</a></td>
                </tr>
            </table>
        </div>
    </div>
    <a style="margin-left: 65%;" href="#contact">SignIn/SignUp</a>
  </div> -->
  <!-- <div class="col-6">
    <div class="shadow-lg p-3 mt-2 mb-5 bg-body">Larger shadow</div>
  </div> -->

  <!-- Sample Form -->
  <!-- <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Sample Form</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text-area" id="name" class="form-control" placeholder="Enter your name" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Enter your email" required>
              </div>
              <div class="mb-3">
              <label for="exampleDataList" class="form-label">Skills</label>
              <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
              <datalist id="datalistOptions">
                <option value=".Net development">
                <option value="Java">
                <option value="Full Stack development">
                <option value="UI/UX">
                <option value="Quality Analysis">
              </datalist>
            </div>
              <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text-area" id="location" class="form-control" placeholder="Enter your location" required>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <router-outlet></router-outlet>
</body>

</html>
