<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="textarea" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.value.firstName.errors }" />
                <div *ngIf="submitted && form.value.firstName.errors" class="invalid-feedback">
                    <div *ngIf="form.value.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="textarea" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.value.lastName.errors }" />
                <div *ngIf="submitted && form.value.lastName.errors" class="invalid-feedback">
                    <div *ngIf="form.value.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="textarea" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.value.username.errors }" />
                <div *ngIf="submitted && form.value.username.errors" class="invalid-feedback">
                    <div *ngIf="form.value.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.value.password.errors }" />
                <div *ngIf="submitted && form.value.password.errors" class="invalid-feedback">
                    <div *ngIf="form.value.password.errors.required">Password is required</div>
                    <div *ngIf="form.value.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>
  </div>
    </div>
