<!-- <h1>{{title}}</h1> -->
<div class="card">
  <h4 class="text-center card-header">{{ title }}</h4>
  <div class="card-body">
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-3 col">
            <label class="form-label">Expense</label>
            <input type="textarea" formControlName="ProductName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.value.ProductName.errors }" />
            <div *ngIf="submitted && form.value.ProductName.errors" class="invalid-feedback">
                <div *ngIf="form.value.ProductName.errors.required">Expense is required</div>
            </div>
        </div>
        <div class="mb-3 col">
            <label class="form-label">Amount</label>
            <input type="number" formControlName="ProductCost" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.value.ProductCost.errors }" />
            <div *ngIf="submitted && form.value.ProductCost.errors" class="invalid-feedback">
                <div *ngIf="form.value.ProductCost.errors.required">ProductCost is required</div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="mb-3 col">
        <label class="form-label">
            Categery
            <!-- <em *ngIf="id">(Leave blank to keep the same password)</em> -->
        </label>
        <select formControlName="ProductCatogary" class="form-select" aria-label="Default select example">
          <option selected>select</option>
          <option value="Food">Food</option>
          <option value="Accommdation">Accommdation</option>
          <option value="Groceries">Groceries</option>
          <option value="Transport">Transport</option>
          <option value="Rent">Rent & Utilities</option>
          <option value="Drinks">Drinks</option>
          <option value="Tickets">Tickets</option>
          <option value="Medicine">Medicine</option>
        </select>
        <!-- <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.value.password.errors }" /> -->
        <!-- <div *ngIf="submitted && form.value.password.errors" class="invalid-feedback">
            <div *ngIf="form.value.password.errors.required">Password is required</div>
            <div *ngIf="form.value.password.errors.minlength">Password must be at least 6 characters</div>
        </div> -->
    </div>
        <div class="mb-3 col">
            <label class="form-label">date</label>
            <input type="date" formControlName="Date" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.value.Date.errors }" />
            <div *ngIf="submitted && form.value.Date.errors" class="invalid-feedback">
                <div *ngIf="form.value.Date.errors.required">Username is required</div>
            </div>
        </div>

    </div>
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/expenses" class="btn btn-link">Cancel</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>
</div>
</div>
