<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
         <canvas id="LineChart" ></canvas>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card ">
      <div class="card-body p-5">
        <h5 class="card-title text-center">Category Expense</h5>
         <canvas id="PieChart" ></canvas>
      </div>
    </div>
  </div>
</div>
<div class="mt-2 row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
         <canvas id="BarChart" ></canvas>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
