<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="navbar">
    <img class="logo" style="margin-right: 40px;" src="../assets/UIS_BIG.png" alt="Logo">
    <a href="expenses/dashboard">dashboard</a>
    <a href="expenses">Expenses</a>

    <!-- <div class="dropdown">
        <button class="dropbtn">Tools<span class="dropdown-symbol"></span></button>
        <div class="dropdown-content">
            <table>
                <tr>
                    <th>Finacial</th>
                    <th>Test</th>new
                </tr>
                <tr>
                    <td><a href="">TTS</a></td>
                    <td><a routerLink="/aes">AES</a></td>
                </tr>
                <tr>
                    <td><a href="#">Test</a></td>
                    <td><a href="#">Test</a></td>
                </tr>
                <tr>
                    <td><a href="#">Test</a></td>
                    <td><a href="#">Test</a></td>
                </tr>
            </table>
        </div>
    </div> -->
    <!-- <a style="margin-left: 65%" href="logout">Logout</a> -->
    <button (click)="logout()" style="margin-left: 70%;border:none; background: none;outline:none; color:aliceblue">Logout</button>
  </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <p style="color: white; text-align: center;">&copy;copyrights CoreForce Team </p>
    </div>
</body>
</html>
