<div class="p-4 text-white " style="margin-bottom: 9rem;"><h1>Users</h1>
<a routerLink="add" class="btn btn-success mb-2">Add Expense</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Expense</th>
            <th style="width: 30%">Amount</th>
            <th style="width: 30%">Category</th>
            <th style="width: 10%">Date</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of expenses">
            <td>{{expense.ProductName}}</td>
            <td>{{expense.ProductCost}}</td>
            <td>{{expense.ProductCatogary}}</td>
            <td>{{expense.Date}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{expense.ExpenseID}}" class="btn btn-sm btn-primary me-1">Edit</a>
                <button (click)="deleteExpense(expense.ExpenseID)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="expense.isDeleting">
                    <!-- <span *ngIf="expense.isDeleting" class="spinner-border spinner-border-sm"></span> -->
                    <span *ngIf="!expense.isDeleting">Del</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!expenses">
            <!-- <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td> -->
        </tr>
    </tbody>
</table>
</div>
